<aside>
	<div class="panel radius">
		<h3>The Web and Coding Club</h3>
		<p>
			We're WnCC, the Web and Coding Club of IIT Bombay. We code and help people code. Being the chief coding organisation of one of the most sought after technical institutions in the country, we have some of the very best programmers working with us. This page enlists our ongoing activities. It is maintained by the coding community at IIT-B. We're wncc-iitb on most services. Also, we love XKCD.
		</p>
	</div>

	<div class="panel radius">
		<h3>List of WnCC Events</h3><br>
    <p align = "center">
            <a class="button large radius" href="../../events/18" ><font style="font-size: '30'">Events of 2018</font></a> <br> <a class="button large radius" href="../../events/17">Events of 2017</a>
            <br> <a class="button large radius" href="../../events/16">Events of 2016</a>
            <br> <a class="button large radius" href="../../events/15">Events of 2015</a>
            <br> <a class="button large radius" href="../../events/14">Events of 2014</a>
            <br> <a class="button large radius" href="../../events/13">Events of 2013</a>
    </p>
    </div>

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>