<aside>
	<div class="panel radius">
		<h3>Seasons of Code</h3>
		<p>
			Seasons of Code is a programme launched by the WnCC, along the lines of GSoC without much greenery though. The incentive is similar to ITSP, based on the current form of it, the fundamental difference is that one can choose from the ideas offered by mentors who are senior undergrads, doctorate students or professors, and in some exceptional cases, startups. We plan to have a really long timeframe though, until the next winter extending this programme into a mentorship of sorts into the semester. It is not just about development by the way. We have some mentors ready to take up programmes regarding competitive coding and scientific computation too. 
		</p>
	</div>

	<div class="panel radius">
		<h3>List of SoC Projects</h3><br>
    <p align = "center">
            <a class="button large radius" href="../../soc/17" ><font style="font-size: '30'">Seasons of Code 2017</font></a> <br> <a class="button large radius" href="../../soc/18">Seasons of Code 2018</a>
    </p>
    </div>

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>